NET "clk_pin" LOC = AB13;
NET "clk_pin" IOSTANDARD = LVCMOS25;
NET "led_pins[0]" LOC = D17;
NET "led_pins[0]" IOSTANDARD = LVCMOS25;
NET "led_pins[1]" LOC = AB4;
NET "led_pins[1]" IOSTANDARD = LVCMOS25;
NET "led_pins[2]" LOC = D21;
NET "led_pins[2]" IOSTANDARD = LVCMOS25;
NET "led_pins[3]" LOC = W15;
NET "led_pins[3]" IOSTANDARD = LVCMOS25;
NET "led_pins[4]" LOC = G7;
NET "led_pins[4]" IOSTANDARD = LVCMOS15;
NET "led_pins[5]" LOC = H6;
NET "led_pins[5]" IOSTANDARD = LVCMOS15;
NET "led_pins[6]" LOC = D1;
NET "led_pins[6]" IOSTANDARD = LVCMOS15;
NET "led_pins[7]" LOC = R7;
NET "led_pins[7]" IOSTANDARD = LVCMOS15;
NET "rst_pin" LOC = F3;
NET "rst_pin" IOSTANDARD = LVCMOS15;
NET "rxd_pin" LOC = H17;
NET "rxd_pin" IOSTANDARD = LVCMOS25;
NET "txd_pin" LOC = B21;
NET "txd_pin" IOSTANDARD = LVCMOS25;
NET "lb_sel_pin" LOC = C18;
NET "lb_sel_pin" IOSTANDARD = LVCMOS25;
NET "dac_clr_n_pin" LOC = F9;
NET "dac_clr_n_pin" IOSTANDARD = LVCMOS25;
NET "dac_cs_n_pin" LOC = G8;
NET "dac_cs_n_pin" IOSTANDARD = LVCMOS25;
NET "spi_clk_pin" LOC = A18;
NET "spi_clk_pin" IOSTANDARD = LVCMOS25;
NET "spi_mosi_pin" LOC = B18;
NET "spi_mosi_pin" IOSTANDARD = LVCMOS25;
