//! **************************************************************************
// Written by: Map P.28xd on Tue Aug 06 16:51:44 2013
//! **************************************************************************

SCHEMATIC START;
COMP "pin_tx" LOCATE = SITE "P9" LEVEL 1;
COMP "clk_50M" LOCATE = SITE "B8" LEVEL 1;
COMP "LED0" LOCATE = SITE "J14" LEVEL 1;
NET "clk_50M_BUFGP/IBUFG" BEL "clk_50M_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

