//! **************************************************************************
// Written by: Map P.49d on Wed Jan 15 16:28:58 2014
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

