//! **************************************************************************
// Written by: Map P.49d on Fri Jan 10 15:08:14 2014
//! **************************************************************************

SCHEMATIC START;
COMP "input_buf_empty_fl" LOCATE = SITE "R4" LEVEL 1;
COMP "faddr<0>" LOCATE = SITE "T14" LEVEL 1;
COMP "faddr<1>" LOCATE = SITE "V13" LEVEL 1;
COMP "RX_FIFO_full_fl" LOCATE = SITE "T16" LEVEL 1;
COMP "fdata<0>" LOCATE = SITE "R14" LEVEL 1;
COMP "fdata<1>" LOCATE = SITE "R13" LEVEL 1;
COMP "fdata<2>" LOCATE = SITE "P13" LEVEL 1;
COMP "fdata<3>" LOCATE = SITE "T12" LEVEL 1;
COMP "fdata<4>" LOCATE = SITE "N11" LEVEL 1;
COMP "fdata<5>" LOCATE = SITE "R11" LEVEL 1;
COMP "fdata<6>" LOCATE = SITE "P10" LEVEL 1;
COMP "fdata<7>" LOCATE = SITE "R10" LEVEL 1;
COMP "CLKIN_IN" LOCATE = SITE "B8" LEVEL 1;
COMP "sloe" LOCATE = SITE "V15" LEVEL 1;
COMP "slrd" LOCATE = SITE "N9" LEVEL 1;
COMP "slwr" LOCATE = SITE "V9" LEVEL 1;
COMP "CLK_48M" LOCATE = SITE "T15" LEVEL 1;
SCHEMATIC END;

