//! **************************************************************************
// Written by: Map P.49d on Sat Nov 23 21:03:55 2013
//! **************************************************************************

SCHEMATIC START;
COMP "CLKIN_IBUFG_OUT" LOCATE = SITE "J15" LEVEL 1;
COMP "CLKIN_IN" LOCATE = SITE "B8" LEVEL 1;
COMP "CLK0_OUT" LOCATE = SITE "R18" LEVEL 1;
COMP "CLKFX_OUT" LOCATE = SITE "M13" LEVEL 1;
SCHEMATIC END;

