//! **************************************************************************
// Written by: Map P.28xd on Sat Aug 03 20:24:26 2013
//! **************************************************************************

SCHEMATIC START;
COMP "SEG_CA" LOCATE = SITE "L18" LEVEL 1;
COMP "LED1" LOCATE = SITE "J15" LEVEL 1;
COMP "SEG_CB" LOCATE = SITE "F18" LEVEL 1;
COMP "SEG_COM_ANODE1" LOCATE = SITE "F15" LEVEL 1;
COMP "SEG_COM_ANODE2" LOCATE = SITE "C18" LEVEL 1;
COMP "SEG_COM_ANODE3" LOCATE = SITE "H17" LEVEL 1;
COMP "SEG_COM_ANODE4" LOCATE = SITE "F17" LEVEL 1;
COMP "BTN3" LOCATE = SITE "H13" LEVEL 1;
COMP "CLK_50MHz" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_50MHz_BUFGP/IBUFG" BEL "CLK_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

