//! **************************************************************************
// Written by: Map P.28xd on Tue Aug 06 12:10:10 2013
//! **************************************************************************

SCHEMATIC START;
COMP "LED0" LOCATE = SITE "J14" LEVEL 1;
COMP "CLK_50MHz" LOCATE = SITE "B8" LEVEL 1;
NET "CLK_50MHz_BUFGP/IBUFG" BEL "CLK_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

